<!-- <h3 *ngIf="products; else noProduct">{{ title }}</h3> -->
 <app-category></app-category>
    <input class="form-control" id="productName" placeholder="Hangi ürünü arıyorsunuz" [(ngModel)]="filter">
    <div id="emailHelp" *ngIf="filter" class="form-text">Şu an <strong>{{ filter }}</strong> aradınız.</div>




<div class="row">
<ng-template #noProduct>
<div class="alert alert-primary" role="alert">
  Bu kategoride ürün yoktur
</div>
</ng-template>
<div *ngFor ="let product of products | productFilter:filter "class="card" class=productbox style="width: 18rem;">
  <img class="card-img-top" [src]="product.imageUrl" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{product.name | lowercase}}</h5>
    <p class="card-text">{{product.description}}</p>
    <h5>Satın Alma fiyatı : {{product.price | currency:'USD':true:"1.2-2"}}</h5>
    <a (click)="addToCard()" class="btn btn-primary">Sepete Ekle</a>
  
  </div>
</div>

</div>